<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="chronWindowsImageResizer.deps.json" Guid="{EC275852-3E63-409E-90A1-C6D345C2D72A}">
                <File Id="chronWindowsImageResizer.deps.json" KeyPath="yes" Source="$(var.SourceDir)\chronWindowsImageResizer.deps.json" />
            </Component>
            <Component Id="chronWindowsImageResizer.dll" Guid="{66A24C65-158B-482E-997F-32A8BB021820}">
                <File Id="chronWindowsImageResizer.dll" KeyPath="yes" Source="$(var.SourceDir)\chronWindowsImageResizer.dll" />
            </Component>
            <Component Id="chronWindowsImageResizer.exe" Guid="{1A356F2C-AD62-4506-93E6-FBAB30BBB607}">
                <File Id="chronWindowsImageResizer.exe" KeyPath="yes" Source="$(var.SourceDir)\chronWindowsImageResizer.exe" />
            </Component>
            <Component Id="chronWindowsImageResizer.pdb" Guid="{1D3CCF32-02AB-4953-A1E0-90A3CBB3EE7A}">
                <File Id="chronWindowsImageResizer.pdb" KeyPath="yes" Source="$(var.SourceDir)\chronWindowsImageResizer.pdb" />
            </Component>
            <Component Id="chronWindowsImageResizer.runtimeconfig.json" Guid="{E12BD1E0-318E-43A7-B0E5-16E2CD171491}">
                <File Id="chronWindowsImageResizer.runtimeconfig.json" KeyPath="yes" Source="$(var.SourceDir)\chronWindowsImageResizer.runtimeconfig.json" />
            </Component>
            <Component Id="SixLabors.ImageSharp.dll" Guid="{1589735D-FBD8-4CB9-A688-9BA7EBA44D82}">
                <File Id="SixLabors.ImageSharp.dll" KeyPath="yes" Source="$(var.SourceDir)\SixLabors.ImageSharp.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedFilesGroup">
            <ComponentRef Id="chronWindowsImageResizer.deps.json" />
            <ComponentRef Id="chronWindowsImageResizer.dll" />
            <ComponentRef Id="chronWindowsImageResizer.exe" />
            <ComponentRef Id="chronWindowsImageResizer.pdb" />
            <ComponentRef Id="chronWindowsImageResizer.runtimeconfig.json" />
            <ComponentRef Id="SixLabors.ImageSharp.dll" />
        </ComponentGroup>
    </Fragment>
</Wix>